*~
.\#*
._*
\#*\#
/_artifacts/
/bazel-*
bin
.classpath
/cluster/env.sh
/.config/gcloud*/
*.dll
/doc_tmp/
!\.drone\.sec
.DS_Store
*.dylib
.envrc
*.exe
*.exe~
/_gopath/
/.gsutil/
/hack/.test-cmd-auth
**/.hg*
.idea/
*.iml
/junit*.xml
/.make/
.netrwhist
network_closure.sh
*.out
/_output*/
/output*/
.project
*.pyc
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.settings/**
*.so
*.swo
*.swp
.tags*
*.test
/third_party/pkg
.*.timestamp
/_tmp/
*.un~
.vagrant
!vendor/**/zz_generated.*
.vscode
/www/test_out
.*.timestamp
/site
admission

/cache
.venv/
release/
site-src/geps
