site_name: Kubernetes Service API Evolution
repo_url: http://sigs.k8s.io/service-apis
site_dir: docs
docs_dir: docs-src
theme:
        name: material
nav:
        - Introduction: index.md
        - User guide: userguide.md
        - API cookbook: cookbook.md
        - API concepts: concepts.md
        - API specification: spec.md
        - Developer guide: devguide.md
        - Releases: releases.md
        - Feedback: feedback.md
        - How to contribute: community.md