INHERIT: ./nav.yml
site_name: Kubernetes Gateway API
repo_url: https://github.com/kubernetes-sigs/gateway-api
repo_name: kubernetes-sigs/gateway-api
site_dir: site
docs_dir: site-src
extra:
  trademark: https://www.linuxfoundation.org/legal/trademark-usage
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - js/implementations.js
hooks:
- hack/mkdocs-copy-geps.py
- hack/mkdocs-generate-conformance.py
watch:
- geps
theme:
  name: material
  icon:
    repo: fontawesome/brands/git-alt
  logo: images/logo/logo-text-large-horizontal-white.png
  favicon: images/k8s-favicon.png
  features:
    - search.highlight
    - navigation.tabs
    - navigation.top
    - navigation.expand
    - content.tabs.link
  palette:
    - scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  custom_dir: site-src/overrides
edit_uri: edit/main/site-src/
plugins:
  - search
  - awesome-pages
  - macros:
      include_dir: examples
      j2_line_comment_prefix: "#$"
  - redirects:
      redirect_maps:
        'guides/index.md': 'guides/getting-started/index.md'
        'ingress-nginx': 'guides/getting-started/migrating-from-ingress-nginx.md'
        'concepts/gamma.md': 'mesh/index.md'
        'concepts/service-facets.md': 'mesh/service-facets.md'
        'concepts/guidelines.md': 'guides/api-design.md'
        'contributing/community.md': 'contributing/index.md'
        'contributing/gamma.md': 'mesh/index.md#contributing'
        'reference/implementers-guide.md': 'guides/implementers.md'
        'references/implementers-guide.md': 'guides/implementers.md'
        'references/spec.md': 'reference/spec.md'
        'references/policy-attachment.md': 'reference/policy-attachment.md'
  - mermaid2
markdown_extensions:
  - admonition
  - meta
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - tables
