site_name: Kubernetes Gateway API
repo_url: https://github.com/kubernetes-sigs/gateway-api
repo_name: kubernetes-sigs/gateway-api
site_dir: site
docs_dir: site-src
theme:
  name: material
  icon:
    repo: fontawesome/brands/git-alt
  features:
    - search.highlight
    - navigation.tabs
    - navigation.top
edit_uri: edit/master/site-src/
extra_css:
  - css/extra.css
plugins:
  - search
  - awesome-pages
  - macros:
      include_dir: examples
markdown_extensions:
  - admonition
  - toc:
      permalink: true
nav:
  - Overview:
    - Introduction: index.md
    - Concepts:
        API overview: concepts/api-overview.md
        Security Model: concepts/security-model.md
        Implementation Guidelines: concepts/guidelines.md
    - Implementations: implementations.md
  - Guides:
    - v1alpha1:
      - Getting started: v1alpha1/guides/getting-started.md
      - Simple Gateway: v1alpha1/guides/simple-gateway.md
      - HTTP routing: v1alpha1/guides/http-routing.md
      - HTTP traffic splitting: v1alpha1/guides/traffic-splitting.md
      - Multiple namespaces and routes: v1alpha1/guides/multiple-ns.md
      - TLS: v1alpha1/guides/tls.md
      - TCP routing: v1alpha1/guides/tcp.md
    - v1alpha2(unreleased):
        - Getting started: v1alpha2/guides/getting-started.md
        - Simple Gateway: v1alpha2/guides/simple-gateway.md
        - HTTP routing: v1alpha2/guides/http-routing.md
        - HTTP traffic splitting: v1alpha2/guides/traffic-splitting.md
        - Multiple namespaces and routes: v1alpha2/guides/multiple-ns.md
        - TLS: v1alpha2/guides/tls.md
        - TCP routing: v1alpha2/guides/tcp.md
  - Reference:
    - v1alpha1:
      - API Types:
          GatewayClass: v1alpha1/api-types/gatewayclass.md
          Gateway: v1alpha1/api-types/gateway.md
          HTTPRoute: v1alpha1/api-types/httproute.md
      - API specification: v1alpha1/references/spec.md
    - v1alpha2(unreleased):
      - API Types:
          GatewayClass: v1alpha2/api-types/gatewayclass.md
          Gateway: v1alpha2/api-types/gateway.md
          HTTPRoute: v1alpha2/api-types/httproute.md
      - API specification: v1alpha2/references/spec.md    
    - Release policy: references/releases.md
  - Contributing:
    - Developer guide: contributing/devguide.md
    - Enhancement Tracking and Backlog: contributing/enhancement-requests.md
    - Community: contributing/community.md
  - FAQ: faq.md
  - Enhancement Proposals:
    - Overview: contributing/gep.md
    - ... | geps/gep-*.md    

