{% extends "base.html" %}

{% block announce %}
    <div style="display: flex; align-items: center; justify-content: center; background-color: white; padding: 10px; border-radius: 5px;">
        <div style="width: 30px; height: 30px; display: flex; align-items: center; margin-right: 10px;"> <!-- Add spacing after left logo -->
            <img src="/images/logo/logo.svg" alt="Gateway API Logo" class="center" style="width: 100%; height: 100%;" />
        </div>
        <b style="color: black; display: flex; align-items: center;">
            <a href="https://forms.gle/7kwf2TdBS2KMwV2FA" style="margin-right: 5px;">Gateway API survey</a> is out! We really appreciate your feedback!
        </b>
        <div style="width: 30px; height: 30px; display: flex; align-items: center; margin-left: 10px;"> <!-- Add spacing before right logo -->
            <img src="/images/logo/logo.svg" alt="Gateway API Logo" class="center" style="width: 100%; height: 100%;" />
        </div>
    </div>
{% endblock %}
