{{ "{{< tabpane text=true >}}" }}
{{- range . }}
{{ "{{% tab header=\"" }}{{ .GepType }}{{ "\" %}}" }}
{{- with .GepsDetails }}
{{- range . }}
- [GEP-{{ .Number }}: {{ .Name }}]({{ "{{< ref \"gep-" }}{{ .Number }}{{ ".md\" >}}" }})
{{- end }}
{{- end }}
{{ "{{% /tab %}}" }}
{{- end }}
{{ "{{< /tabpane >}}" }}
